<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://ios.update.g.mi.com/files/BlinkChat.ipa</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>com.xiaomi.BlinkChat.dailybuild</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>BlinkChatDaily</string>
                                <key>version</key>
                                <string>6.1.59</string>
                                <key>description</key>
                                <string></string>
                        </dict>
        </dict>
        </array>
</dict>
</plist>
